<h2> DETAILS OF EVERY PRODUCT </h2>

    <div class="box">
        <img src="C:\Users\Admin\Desktop\python.jpg" />
        <h1 class="headings"> PRODUCT1 </h1>
        <ul>
            <li>name:kurtha</li>
            <li> price =1000/-</li>
            <li> <button type="button" value="add"> ADD TO CART </button></li>
            <li> <button type="button" value="add"> BUY NOW  </button></li>
        </ul>

    </div>
 
<ul>
    <li> neck:square neck</li>
    <li> sleeve style:flared sleeves</li>
    <li> sleeve length: sleeveless </li>
    <li> fabric: cotton blend </li>
    <li> pattern:polka print </li>
    <li> color:dark green </li>
    <li> pack of:1 </li>
    <li> expected delivery: by may 1st</li>
</ul>
<button type="submit" value="add"> ADD TO CART </button>
 <button type="submit" value="add"> BUY NOW  </button>