<div>
    <body id="body">
        <form>
    <h1 id="h1"> welcom to my angular</h1><br><br>

    <label> name </label>
    <input type="text"  name="name " /><br><br>

    <label> email </label>
    <input type="text"  name="name " /><br><br>

    <label> password </label>
    <input type="num" name="password"/><br><br>

    <label> confirm password </label>
    <input type="num" name="confirm password"/><br><br>

    <button type="submit" (click)="dis()"> submit </button>
    </form>
    </body>
</div>




