
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>portfolio</title>

</head>


    <h1> DIVYA'S PORTFOLIO  </h1>
    <nav class="navbar">

        <ul>
            <li><a href="#home"> HOME </a> </li>
            <li><a href="#about"> ABOUT ME </a> </li>
            <li><a href="#skills"> SKILLS</a> </li>
            <li><a href="#projects"> PROJECTS</a> </li>
            <li><a href="#contact"> CONTACT</a> </li>
        </ul>
    </nav>
    <section id="home">
        <img src="https://th.bing.com/th/id/OIP.7vxrhH48_TaCdcvqBcK-4AHaE2?pid=ImgDet&rs=1" height="400px" width="1000px" /><br>
        <div class="main"></div>
        <h1> I AM DIVYASHREE CR</h1>
        <p> hello,i am divyashree cr , from chamarajnagar
            currently pursuing my masters degree that s master of computer applications
            in sjce college mysore also working as an intern at spektra systems banglore..
            looking forward to build my careeer as an developer in IT filed..
        </p>


    </section>

    <section id="about">
        <h1 class="headings"> ABOUT ME </h1>

        <div id="intro">
            <h2> EDUCATION DETAILS </h2>
        
                <ul> 10th standard
                    <li> evabharathi english high school ,chamarajanagar </li>
                    <li> percentage =83.04% </li>
                </ul> <br>

                <ul>12th standard
                    <li> jss pu college for women ,chamarajanagar </li>
                    <li> percentage =68% </li>
                </ul> <br>

                <ul>under graduation
                    <li> jss college of arts,commerce and science ,mysore </li>
                    <li> cgpa= 8.3 </li>
                </ul><br>

                <ul> post graduation (mca)
                    <li> sjcecollege of engineering ,mysore </li>
                    <li> 1st sem- cgpa=8.0 </li>
                    <li> 2nd sem- cgpa=8.54 </li>
                </ul>
            
        </div>

    </section>

    <section class="skills" id="skills">
        <h1 class="headings">
            SKILLS 
        </h1>
        <div class="row">
            <div class="box">
                <img src="https://th.bing.com/th/id/OIP.7vxrhH48_TaCdcvqBcK-4AHaE2?pid=ImgDet&rs=1" />
                <h1 class="headings"> PYTHON </h1>
                <ul>
                    <li>oops concepts</li>
                    <li> data visualizations </li>
                    <li> developing user interfaces</li>
                    <li> building GUI</li>
                </ul>


            </div>

            <div class="box">
                <img src="https://th.bing.com/th/id/OIP.7vxrhH48_TaCdcvqBcK-4AHaE2?pid=ImgDet&rs=1" />
                <h1 class="headings">
                    MACHINE LEARNING
                </h1>
                <ul>
                    <li> machine learning algorithms </li>
                    <li> random forest </li>
                    <li> support vector machine </li>
                    <li> naive bayes </li>
                    <li> clustering </li>
                </ul>


            </div>
            <div class="box">
                <img src="https://th.bing.com/th/id/OIP.7vxrhH48_TaCdcvqBcK-4AHaE2?pid=ImgDet&rs=1" />
                <h1 class="headings"> JAVA </h1>
                <ul>
                    <li> oops concepts </li>
                    <li> java applets </li>
                    <li> java servlets </li>
                    <li> bulding gui </li>
                    <li> connecting database to the applications </li>
                </ul>


            </div>

            <div class="box">
                <img src="https://th.bing.com/th/id/OIP.7vxrhH48_TaCdcvqBcK-4AHaE2?pid=ImgDet&rs=1" />
                <h1 class="headings">SQL</h1>
                <ul>
                    <li> database languages </li>
                    <li> DDL </li>
                    <li> DML </li>
                    <li> DCL </li>
                    <li> joins </li>
                </ul>


            </div>
        </div>
    </section>

    <section id="projects">
        <h1 class="headings ">
            PROJECTS 
        </h1>
        <div class="row">
            <div class="box">

                <h1 class="headings"> Machine learning <br>project</h1>
                <p> predicting whether an email is spam mail or ham email using support vector machine algorithm..
                    and the project is implemented using python </p>
            </div>
            <div class="box">

                <h1 class="headings">java sevlets </h1>
                <p>creating a gui using java servlets and connecting it to the sql dtaabse
                    whenever the user enters the data in the gui that shouldbe stored in the sql database</p>
            </div>
        </div>
    </section>

    <section id="contact">
        <h1>
             CONTACT
        </h1>
        <p> email-abc@gmail.com </p>
        <p> ph-no -1234556</p>
        <p> instagram - divyashe </p><br>



        <p> adress: </p>
        <p> btm 2 nd stage ,near slv farma </p>
        <p> banglore karnataka , india </p><br>


        <form name="myform" method="post">
            <label> name: </label>
            <input type="text" name="name" placeholder="enter your name" /><br>


            <label> email </label>
            <input type="text" name="name" placeholder="enter your email" /><br>

            <input type="button" value="submit" />
        </form>

    </section>
    </html>

