<body >
    <div>
    <img src="https://th.bing.com/th/id/OIP.yBNSYAkMwCVrA3xRaNiopAHaEK?w=289&h=180&c=7&r=0&o=5&pid=1.7"/>
    </div>
    <h2>THE ITEMS YOU HAVE SELECTED WILL BE HERE </h2>
<table class="table table-success table-striped">
    <thead class="table-dark">
        <tr>
            <th>Quantity</th>
            <th>Total Price</th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{totalQuantity}}</td>
            <td>{{totalPrice}}</td>
            
        </tr>
    </tbody>
</table>
</body>


