
<body id="body">
    <table>
        <tr>
            <th> NAME </th>
            <th> TECHNOLOGY </th>
            <th> CITY </th>
            <th> DETAILS </th>
        </tr>

        <tr>
            <td> DIVYA </td>
            <td> PYTHON  </td>
            <td> MYSORE </td>
            <td><a [routerLink]="['/banglorelink']"> portfolio  </a> <br> </td>
            
        </tr>

        <tr>
            <td> ARCHANA </td>
            <td> ANGULAR </td>
            <td> BANGLORE </td>
            <td> <a [routerLink]="['/banglorelink']"> portfolio  </a> <br> </td>
            
        </tr>

        <tr>
            <td> VANDITHA  </td>
            <td> CSS  </td>
            <td> MANGLORE  </td>
            <td><a [routerLink]="['/banglorelink']"> portfolio  </a> <br> </td>
            
        </tr>

        <tr>
            <td> ANIL </td>
            <td> JAVASCRIPT </td>
            <td> PUNE </td>
            <td><a [routerLink]="['/banglorelink']"> portfolio  </a> <br> </td>
            
        </tr>

        <tr>
            <td> NITHIN  </td>
            <td> POWERBI </td>
            <td> HYDERABAD </td>
            <td><a [routerLink]="['/banglorelink']"> portfolio  </a> <br> </td>
            
        </tr>
        <tr>
            <td> SANJAY  </td>
            <td> JAVA  </td>
            <td> KOCHI </td>
            <td><a [routerLink]="['/banglorelink']"> portfolio  </a> <br> </td>
            
        </tr>

        <tr>
            <td> SUHASINI </td>
            <td> C++ </td>
            <td> MUMBAI </td>
            <td><a [routerLink]="['/banglorelink']"> portfolio  </a> <br> </td>
            
        </tr>
    </table>
</body>